.turntable {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #17a6b9;
}
.vinyl {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: radial-gradient(circle at center, #222 0%, #000 80%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0);
    position: relative;
}
.label{
    width: 80px;
    height: 80px;
    background: crimson;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hole {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background:radial-gradient(circle at center, #222 0%, #000 80%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}